import React, {useState, useEffect} from "react"

const useTime = () => {
  const [time, setTime] = useState(Date.now())
  useEffect(() => {
    const timerTimeout = setTimeout(() => setTime(Date.now()), 1000)
    return () => clearTimeout(timerTimeout)
  })
  return time
}

const TimerSeconds = props => (
  <span className={props.className} onClick={props.onClick}>
    {(useTime() / 1000) % 60}
  </span>
)
